In [1]:
import numpy as np

In [2]:
import pandas as pd

#Series method

In [3]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [5]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(data=[print,sum,len])

0    <built-in function print>
1      <built-in function sum>
2      <built-in function len>
dtype: object

In [10]:
ser1= pd.Series([1,2,3,4],['USA','Germany','Japan','USSR'])

In [11]:
ser1

USA        1
Germany    2
Japan      3
USSR       4
dtype: int64

In [13]:
ser2= pd.Series([1,2,5,4],['USA','Germany','Japan','India'])

In [14]:
ser2

USA        1
Germany    2
Japan      5
India      4
dtype: int64

In [15]:
ser1['USA']

1

In [17]:
ser2['Japan']

5

In [18]:
ser1+ser2

USA         2
Germany     4
Japan      10
India       8
dtype: int64